@media (max-width:1250px) {
    .wrap {
        width: 90%;
        margin: 0px auto;
    }
    #banner {
        margin: 16.5px;
        width: 95.5%;
    }
    #banner h1 {
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }
    .card {
        width: 17%;
        margin: 16px;
    }
    .card p {
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #articles {
        width: 65%;
    }
    #articles article {
        width: 97%;
    }
    #footer .wrap>div {
        width: 25%;
        margin: 4%;
    }
    #footer #browsers img {
        width: 14%;
    }
    #footer h5 {
        font-size: 30px;
    }
}

@media (max-width: 1140px) {
    .card {
        width: 16.7%;
    }
    .card .category {
        font-size: 17px;
    }
    .card .description {
        font-size: 14px;
    }
    #articles {
        width: 61%;
    }
}

@media (max-width: 1036px) {
    .card {
        width: 16.5%;
    }
    #articles {
        width: 59%;
    }
    #footer .wrap>div {
        width: 26%;
        margin: 20px;
    }
    #footer h5 {
        font-size: 22px;
    }
}

@media (max-width: 976px) {
    .card {
        width: 16.3%;
    }
    #articles {
        width: 60%;
    }
    #lateral {
        width: 28%;
    }
    #lateral input[type="text"] {
        width: 78%;
    }
    .aside-box {
        width: 95%;
        height: auto;
        min-height: 140px;
        padding-bottom: 10px;
    }
    #login a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #login input[type="email"],
    #login input[type="password"] {
        width: 65%;
    }
    #login #user,
    #login #password {
        margin-left: 30px;
    }
    #login input[type="button"],
    #login input[type="submit"],
    #login input[type="reset"],
    #login button {
        margin-bottom: 0px;
    }
    #login input[type="reset"] {
        display: none;
    }
}

@media (max-width: 924px) {
    .card {
        width: 17.7%;
        margin-left: 1px;
    }
    #banner {
        margin: 2px;
    }
}

@media (max-width: 900px) {
    #banner {
        margin: 4px;
    }
    #lateral h3 {
        font-size: 20px;
    }
}

@media (max-width: 799px) {
    #banner h1 {
        font-size: 29px;
    }
    .card {
        height: auto;
    }
    .card .title {
        font-size: 15px;
    }
    .card .category {
        font-size: 15px;
        margin-top: -23px;
    }
    .card .description {
        display: none;
    }
    #footer img {
        margin-bottom: 15px;
        max-width: 100%;
    }
}

@media (max-width: 763px) {
    #header {
        width: 100%;
        height: 120px;
        padding-top: 10px;
    }
    #logo {
        float: none;
        width: 200px;
        margin: 0px auto;
    }
    #menu {
        clear: both;
        float: none;
        width: 440px;
        margin: 0px auto;
    }
    .card {
        width: 17.2%;
    }
    #banner {
        width: 94%;
    }
    #lateral input[type="text"] {
        width: 70%;
    }
}

@media (max-width: 627px) {
    .card {
        width: 16.9%;
    }
    #lateral {
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        margin-top: 29px;
    }
    #lateral input[type="text"] {
        width: 93%;
    }
    #articles {
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
    }
    #login input[type="email"],
    #login input[type="password"] {
        width: 85%;
    }
    #footer {
        height: auto;
        padding-bottom: 40px;
    }
    #footer .wrap>div {
        width: 100%;
        margin: 0px auto;
    }
    #footer h5 {
        font-size: 25px;
    }
}

@media (max-width: 566px) {
    .card {
        width: 16.7%;
    }
}

@media (max-width: 532px) {
    #banner {
        height: 85px;
        width: 93%;
    }
    #banner h1 {
        font-size: 18px;
    }
    #lateral input [type="text"] {
        width: 85%;
    }
    .card .icon {
        font-size: 35px;
    }
    .card:hover .icon {
        font-size: 35px;
    }
    .card:hover .category {
        font-size: 13px;
    }
    .card {
        width: 16.1%;
    }
    #lateral input[type="text"] {
        width: 90%;
    }
}

@media (max-width: 450px) {
    #logo {
        float: left;
    }
    #header {
        width: 100%;
        height: 275px;
        padding-top: 10px;
    }
    #menu {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
    }
    #menu ul li {
        width: 100%;
    }
    #menu ul li a {
        width: 100%;
        line-height: 52px;
    }
    #menu ul li a:hover {
        color: #37bcf9;
        transform: scale(1, 1);
    }
    .card {
        width: 16%;
    }
    #login #user,
    #login #password {
        margin-left: 21px
    }
    #articles .data {
        float: none;
        margin: -10px;
        border-radius: 0px 0px 0px 0px;
    }
    #articles article h4 {
        margin-top: 20px;
    }
}